<header>
	<img src='/images/header.jpg' alt='' class='header__background' />
	<div class='header__info'>
		<h1>ABOGADO</h1>

		<div class='header__name'>
			<h2>Maigualida <br /> Fernández R.</h2>
			<div class='btn'>
				<div class='btn__border'>
					<a href='#main'>VER SERVICIOS</a>
				</div>
			</div>
		</div>
	</div>
</header>

<section class='main' id='main'>
	<h2>SERVICIOS LEGALES</h2>
	<div class='service'>
		<div>
			<img src='/svg/file.svg' alt='' />
			<h3>Registro Mercantil</h3>
			<p>Constitución de empresas y todo lo referente al área mercantil de las
				mismas.</p>
		</div>
		<div>
			<img src='/svg/build.svg' alt='' />
			<h3>Declaraciones Sucesorales</h3>
			<p>Todo lo referente a sucesiones.</p>
		</div>
		<div>
			<img src='/svg/desk.svg' alt='' />
			<h3>Área Civil</h3>
			<p>Legaliza tus compras y ventas para respaldar tus inversiones.</p>
		</div>
	</div>
</section>

<section class='about'>
	<img src='/images/write.jpg' alt='' />
	<div class='about__info'>
		<h2>Maigualida F.</h2>
		<p>La responsabilidad y eficiencia en los procesos legales es primordial.
			Contáctame para más información.</p>
		<ul>
			<li><i class='bi bi-geo-alt-fill'></i> Lechería, Edo. Anzoátegui</li>
			<li><i class='bi bi-telephone-fill'></i> 0412-0817220</li>
			<li><i class='bi bi-envelope-fill'></i> maiguafernandez@gmail.com</li>
		</ul>
		<div class='contact__btn'>
			<div class='btn__border'>
				<a
					href='https://api.whatsapp.com/send?phone=584120817220'
					target='_blank'
				>contáctanos <i class='bi bi-whatsapp'></i></a>
			</div>
		</div>
	</div>
</section>

<p class='quote'>“La excelencia es mi norte.”</p>

<footer>
	Developed And Designed By
	<a href='https://witsite.herokuapp.com/' target='_blank'>Witsite</a>. ©2021
</footer>